.navmenu{
    display: inline-block;
}
body{
    font-family: 'Inter', sans-serif;
}
.head{
    display: flex;
    width: 100%;
    background-color:#F5F5F5;
    width: 1920px;
    height: 52px;
 
}
.social p{
    padding-bottom: 2px;

}
.contact{
    display:flex;
    position:absolute;
    left: 620px;
    padding-right: 110px;
}
.social{
    display: flex;
    margin-left: 170px;
}
.navmenu{
    width: 1227px;
    height: 28px;
    top: 89px;
    left: 567px;
    width: 70%;
    justify-content: space-around;
    text-align: right;
    margin-right: 100px;
    padding-top: 20px;

}
.menu{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;

}
.logo{
   padding-right: 15px;
   padding-left: 15px;
   
}
.gglogo{
    margin-left: 120px;
    width: 293px;
    height: 76px;
}
.icon{
    padding-right: 30px;
}
.contact{
    padding-left:900px ;
    font-weight: 400px;
}
.ab{
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000px;
    color: black;
    line-height: 40px;
}
.walldiv{
    width: 2150px;
    height: 890px;
    padding-right: 100px;
    border-radius: 6px;

}
.coverpage{
    position: relative;
    text-align: center;
    margin-left: 126px;
}
#love{
    position: absolute;
    bottom: 30px;
    top: 170px;
    left: 200px;
    font-weight: 50px;
    font-size: 70px;
    text-align: left;
}
#subtext{
    position: absolute;
    top: 430px;
    left: 204px;
    font-size: 25px;
    text-align: left;
}
.button{
    position: absolute;
    background-color: #17C1A3;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 32.4px;
    top: 530px;
    left: 200px;
    width: 270px;

}
.playbutton{
    position: absolute;
    top: 530px;
    left: 500px;
}
input[type=text] {
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=number] {
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=date] {
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .appointmentform{
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #17C1A3;
  }
  .float{
    position: absolute;
    width: 1800px;
    height: 300px;
    top: 850px;
    bottom: 50px;
    left: 280px;
    border-style: solid white;
    padding-left: 50px;
    background-color:white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 0.5;
  }
  #dropdown{
    width: 500px;
    height: 80px;
  }
  .Surgery{
    padding-top: 250px;
    flex:1;
  }
  .Departments{
    display: flex;
  }
  .MedicalOncology{
    flex:1;
    padding-top: 250px;
  }
  .Ent{
    flex:1;
    padding-top: 250px;

  }
  #dept{
    padding-top: 100px;
    margin-left: 30px;
  }
  .designbg{
    position: relative;
    display: flex;
    background-color:#E8F9F6;
    margin-top: 250px;
    width: 2150px;
    height: 890px;
    margin-left: 210px;
  }
#dbg{
    position: absolute;
}
#staff{
    position: absolute;
}
.whygg{
    flex: 1;
    margin-left: 250px;
    margin-top: 200px;
}
.designimg{
    flex: 1;
}
.ticks{
    list-style-image: url("tick.jpg");
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.whygg h1{
    font-weight: bolder;
}
.Specialists{
    height: 100vh;
    display: flex;
    margin-left: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    width: 100%;
    
}
#specialh{
    /* text-align: center; */
    left: 1150px;
    position: absolute;
}
#specialp{
    left: 1000px;

    position: absolute;
}
.Lisha {
    flex:1;
    padding-top: 100px;
    margin-left: 30px;
}
.Chris 
{
    flex:1;
    padding-top: 100px;
    margin-left: 30px;
}
.Linda {
    flex:1;
    padding-top: 100px;
    margin-left: 30px;
}
.Sandra{
    flex:1;
    padding-top: 100px;
    margin-left: 50px;
}
.viewall{
    width: 300px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #17C1A3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 32.4px;
    margin-top: 100px;
}
.Specialists h1{
    font-weight: 900px;
    font-size: 45px;
    line-height: 10px;
}
.Specialists p{
    font-weight: 400px;
    font-size: 22px;
    line-height: 10px;
    opacity: 0.5;
}