.head{
    display: flex;
    width: 100%;
    background-color:#F5F5F5;
    height: 52px;
 
}
.contact{
    display:flex;
    position:absolute;
    left: 620px;
    padding-right: 110px;
}
.social p{
    padding-bottom: 2px

}
.social{
    display: flex;
    margin-left: 150px;
}
body{
    font-family: 'Inter', sans-serif;
}
.navmenu{
    display: inline-block;
}
.navmenu{
    margin-right: 100px;
    padding-top: 20px;

}
.rightmenu{
    margin-left: 220px;
}
.navhead{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    line-height: 40px;
}
.menu{
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.logo{
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 10px;
   
}
.gglogo{
    margin-left: 135px;
    width: 293px;
    height: 76px;
}
.icon{
    padding-right: 30px;
}
.contact{
    padding-left:900px ;
    font-weight: 400px;
}

.walldiv{
    width: 2150px;
    height: 890px;
    
    padding-right: 100px;
    border-radius: 6px;

}
.coverpage{
    position: relative;
    text-align: center;
    margin-left: 126px;
}
#love{
    position: absolute;
    bottom: 30px;
    top: 170px;
    left: 200px;
    font-weight: 50px;
    font-size: 70px;
    text-align: left;
}
#subtext{
    position: absolute;
    top: 430px;
    left: 204px;
    font-size: 25px;
    text-align: left;
}
.button{
    position: absolute;
    background-color: #17C1A3;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 32.4px;
    top: 530px;
    left: 200px;
    width: 270px;
    border-radius: 10px;

}
.playbutton{
    position: absolute;
    top: 530px;
    left: 500px;
}
.playbutton a{
    position: relative;
    top: -10px;
    left: 10px;
    color: black;
    font-size: 20px;
}
input[type=text] {
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=number] {
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=date] {
    width: 500px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
 
  .float{
    position: absolute;
    width: 1750px;
    height: 300px;
    top: 920px;
    bottom: 50px;
    left: 300px;
    border-style: solid white;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
  }
  .upfloat{
    padding-bottom: 20px;
  }
  .float ::placeholder{
    font-size: 17px;
  }
  #fname{
    margin-left: 30px;
    border-radius: 10px;
    width: 550px;
  }
  #dropdown{
    width: 500px;
    height: 80px;
    margin-left: 30px;
    border-radius: 10px;
    width: 550px;
  }
  .appointmentform{
    width: 550px;
    height: 80px;
    padding: 12px 20px;
    margin-left: 30px;
    box-sizing: border-box;
    background-color: #17C1A3;
    border-radius: 10px;
    font-size: 17px;
    color: white;
  }
  
  .Room1{
    padding-top: 250px;
    flex:1;
    margin-right: 250px;
  }
  .Departments{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .innerdept{
    display: flex;
    margin-top: -220px;
    padding-bottom: 50px;
    padding-top: 4px;
  }
  
  .Facilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    margin-top: 100px;
  }
  
  .Interest{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
  .innerinterst{
    display: flex;
    margin-top: -150px;
    padding-bottom: 10px;
    padding-top: 4px;
    margin-bottom: 10px;
  }
  .Interest h1{
    font-weight: bolder;
    font-size: 45px;
    line-height: 10px;
    padding-top: 80px;
  }
  .innerfacilities{
    display: flex;
    margin-top: -190px;
    padding-bottom: 50px;
    padding-top: 4px;
    margin-bottom: 10px;
  }
  .Surgery{
    padding-top: 250px;
    flex:1;
    margin-right: 250px;
  }
  .MedicalOncology{
    flex:1;
    padding-top: 250px;
    margin-right: 250px;
  }
  .Ent{
    flex:1;
    padding-top: 250px;

  }
  
  .Reception{
    flex:1;
    padding-top: 250px;
    margin-right: 250px;
  }

  .Room2{
    flex:1;
    padding-top: 250px;

  }
  .Facilities h1{
    font-weight: 900px;
    font-size: 45px;
    line-height: 10px;
    padding-top: 80px;
  }
  #depthead{
    padding-top: 100px;
    width: 2150px;
    font-size: 25px;
    padding-left: 10px;

  }
  .Departments a{
    color:#17C1A3;
  }
  .Departments p{
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-align: left;
}
.designbg{
    position: relative;
    display: flex;
    background-color:#E8F9F6;
    margin-top: 250px;
    width: 2150px;
    height: 890px;
    margin-left: 210px;
}
  #red{
    color: red;
}
#dbg{
    position: absolute;
}
#staff{
    position: absolute;
}
.whygg{
    flex: 1;
    margin-left: 250px;
    margin-top: 70px;
    width: 100%;
}
.designimg{
    flex: 1;
}
.ticks{
    list-style-image: url("tick.jpg");
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.whygg h1{
    font-weight: bolder;
}
.Specialists{
    height: 100vh;
    display: flex;
    margin-left: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    width: 100%;
    
}
#specialh{
    left: 1150px;
    position: absolute;
}
#specialp{
    left: 1000px;

    position: absolute;
}
.Lisha {
    flex:1;
    padding-top: 100px;
    margin-left: 30px;
}
.Chris 
{
    flex:1;
    padding-top: 100px;
    margin-left: 30px;
}
.Linda {
    flex:1;
    padding-top: 100px;
    margin-left: 30px;
}
.Sandra{
    flex:1;
    padding-top: 100px;
    margin-left: 50px;
}
.viewall{
    width: 300px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #17C1A3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 32.4px;
    margin-top: 100px;
    border-radius: 10px;
}
.Specialists h1{
    font-weight: 900px;
    font-size: 45px;
    line-height: 10px;
}
.Specialists p{
    font-weight: 400px;
    font-size: 22px;
    line-height: 10px;
    opacity: 0.5;
}
.subbtn{
    width: 300px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #17C1A3;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 32.4px;
    border-style:none;
}
.subscribe{
    position: relative;
    display:flex;
    margin-left: 240px;
    height: 330px;
    width: 2100px;
    top: 400px;
    background-color: white;
}
#subscribedesign{
    position: absolute;
}
#subscribetext{
    position: absolute;
    top: 130px;
    left: 150px;
    font-weight: 1000px;
    font-size: 30px;
    letter-spacing: 2px;
}
.leftsub{
    flex:1;
    margin-right: 250px;
    
}
.rightsub{
    padding-top: 130px;
    padding-right: 300px;
}
#input{
    border-style: none;
    font-size: 25px;
    opacity: 0.5;
}
.bluebg{
    background-color:#EAF2FF;
    height: 900px;
    margin-top: -350px;
}
.footerTop {
    display: flex;
    padding-bottom: 40px;
  }
  .footerTopLeft {
    flex: 1;
  }
  .footerTopMid {
    flex: 1;
    margin-left: 100px;
  }
  .footerTopRight {
    flex: 1;
    margin-left: 60px;
  }
  .footerTopRight a {
    text-decoration: none;
    color: black;
  }
  .footerTopMid a {
    text-decoration: none;
    color: black;
  }
  .footerTopMidAboutContent {
    display: grid;
    grid-template-columns: auto auto;
  }
  .footerTopRightAboutContent {
    display: grid;
    grid-template-columns: auto auto;
  }
  .footerBottom {
    display: flex;
  }
  .footerBottomText {
    display: flex;
    flex: 2;
    margin-top: 30px;
  }
  .footerBottomSocial {
    flex: 1;
  }
  .footer {
    margin-left: 280px;
    margin-top: 200px;
    margin-right: 80px;
    font-weight: 100;
    font-size: 20px;
    font-family: Inter;
  }
  .footerBottomTextLeft {
    flex: 1;
   
  }
  .footerBottomTextMid {
    flex: 1;
    margin-left: 80px;
  }
  .footerBottomTextRight {
    flex: 1;
  }
  .footerBottomText p {
    margin-left: 20px;
    margin-top: -15px;
  }
  .footerBottomSocial{
    font-weight:900;
    font-size: 15px;
    font-family: Inter;
    margin-left: 50px;
  }
  .trademark{
    font-weight:50;
    font-size: 10px;
    font-family: Inter;
    text-align: center;
  }
#description{
  opacity: 0.5;
}